.bill-modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:5000;
}

.bill-modal{
    width:420px;
    background:white;
    padding:25px;
    border-radius:18px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.bill-modal h2{
    margin:0 0 10px;
}

.bill-modal input,
.bill-modal select{
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
}

.modal-buttons{
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

.modal-buttons button{
    padding:12px 18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}